{
    "apps": [
        {
            "name": "dspace-angular",
            "cwd": "{{ dspace_angular_home_dir }}",
            "script": "yarn",
            "args": "run serve:ssr",
           "interpreter": "none"
        }
    ]
}
