module.exports = {
  apps : [{
    name: 'dspace-angular',
    cwd: '{{ dspace_angular_home_dir }}',
    script: 'yarn start',
    env: {
      NODE_ENV: '{{ dspace_angular_environment }}'
    }
  }]
};
